.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 15%;

  text-align: center;
}

.card img {
  width: 100%;
}

input {
  width: 300px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 10px;
}

p {
  color: white;
}
